<!doctype html>
<html class="no-js" lang=""
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Library</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <th:block th:replace="layout_customer/head :: head"></th:block>
</head>
<body>

<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
            Header Start
    *************************************-->
    <div th:include="layout_customer/navbar:: navbar"></div>
    <!--************************************
            Header End
    *************************************-->

    <main id="tg-main" class="tg-main tg-haslayout">
        <!--************************************
                News Grid Start
        *************************************-->
        <div class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <section id="form" style="margin-top: 50px;"><!--form-->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4 col-sm-offset-1">
                                    <div class="login-form">
                                        <h2>Nhập email:</h2>
                                        <form th:action="@{/send_pass_back}" method="post">
                                            <input type="email" id="email" name="email" placeholder="Nhập email" required/>
                                            <span id="msg_email"></span>
                                            <span style="color: red" th:text="${alert}"></span>
                                            <br>
                                            <span>Chúng tôi sẽ gửi thư có mật khẩu đến địa chỉ email của bạn</span>
                                            <button type="submit" class="btn btn-default">Chấp nhận</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!--/form-->
                </div>
            </div>
        </div>
        <!--************************************
                News Grid End
        *************************************-->
    </main>

    <th:block th:replace="layout_customer/footer :: footer_customer"></th:block>
    <!--************************************
            Footer End
    *************************************-->
</div>
<!--************************************
        Wrapper End
*************************************-->
<th:block th:replace="layout_customer/js :: js"></th:block>
<script th:src="@{/js/forgotPass.js}"></script>
</body>

</html>
